@charset "UTF-8";
.str1 {stroke:#D9DADA;stroke-width:5.66577}
.str8 {stroke:#FEFEFE;stroke-width:1.51087}
.str0 {stroke:#C5C6C6;stroke-width:1.51087}
.str9 {stroke:#727271;stroke-width:1.51087}
.str4 {stroke:#2B2A29;stroke-width:1.51087}
.str2 {stroke:#4D897C;stroke-width:1.51087}
.str3 {stroke:#FEFEFE;stroke-width:0.575642}
.str10 {stroke:#FEFEFE;stroke-width:3.77718;stroke-dasharray:37.771783 11.331535}
.str7 {stroke:#FEFEFE;stroke-width:1.51087;stroke-dasharray:7.554357 4.532614}
.str5 {stroke:#FEFEFE;stroke-width:1.51087;stroke-dasharray:7.554357 7.554357}
.str6 {stroke:#FEFEFE;stroke-width:1.51087;stroke-dasharray:15.108713 4.532614}
.fil13 {fill:none}
.fil4 {fill:#FEFEFE}
.fil0 {fill:#C5C6C6}
.fil5 {fill:#9D9E9E}
.fil1 {fill:#727271}
.fil7 {fill:#434242}
.fil11 {fill:#F08143}
.fil10 {fill:#DBE285}
.fil12 {fill:#AE4A84}
.fil9 {fill:#B0CB1F}
.fil3 {fill:#7688A1}
.fil6 {fill:#57A7B3}
.fil2 {fill:#61A375}
.fil8 {fill:#009846}
.fnt2 {font-weight:normal;font-size:16.0689px;font-family:'Arial'}
.fnt1 {font-weight:normal;font-size:19.6119px;font-family:'Arial'}
.fnt0 {font-weight:normal;font-size:21.4287px;font-family:'Arial'}
.cover {fill:#00000; stroke-width:1.5; opacity:0.2;}
.block {fill:#ffffff; stroke-width:3; opacity:0.01;}
